*{
	margin: 0;
	padding: 0;
}

#about_container{
	display: block; 
	margin: 0 auto;
	margin-top: 5vh;
	width: 100%;
	max-width: 700px;
	text-align: center;
	overflow: hidden;
}

#about_heading{
	font-size: 26px;
}

#jack_profile{
	display: block;
	width: 100%;
	max-width: 400px;
	height: auto;
	margin-top: 20px;
	float: left;
}

#blurb{
	width: 280px;
	margin-top: 30px;
	text-align: left;
	display: block;
	margin-left: 415px;
	
	border-color: white;
	border-width: 2px;
	border-style: solid;

}

#blurb p{
	font-size: 18px;
	margin: 8px 8px 8px 8px;
}

#about_separator{
	display: block;


}

#one{
	float: left;
}

#two{
	margin: 0 auto;
	margin-top: 20px;
}

#three{
	float: right;
}

.purple{
	color: #2043C4;
}

.about_image{
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-top: 20px;
	background-image: url(../images/cat.png);
	background-size: cover;

}

@media only screen and (max-width: 683px){
	#jack_profile{
		position: static;
		margin: 0 auto;
		float: none;
	}

	#blurb{
		float: none;
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	#one{
		float: none;
		margin: 0 auto;
		margin-top: 20px;
	}

	#two{
		margin: 0 auto;
	}

	#three{
		float: none;
		margin-top: 20px;
	}
}