*{
	margin: 0;
	padding: 0;
}

#about_container{
	display: block; 
	margin: 0 auto;
	margin-top: 5vh;
	width: 100%;
	max-width: 700px;
	text-align: center;
	overflow: hidden;


	border-color: red;
	border-style: solid;

}

#about_heading{
	font-size: 26px;


}

#jack_profile{
	display: inline-block;
	float: left;
	width: 20%;
	height: 100%;
	height: 400px;
	margin-top: 20px;
}

#blurb{
	width: 80%;

	margin-top: 20px;
	text-align: left;
	display: inline-block;
	


	border-color: green;
	border-style: solid;
}

#blurb p{
	font-size: 3vh;
	margin: 8px 8px 8px 8px;

	display: inline-block;
	border-color: orange;
	border-style: solid;
}







.purple{
	color: #2043C4;
}

@media only screen and (max-width: 683px){
	#jack_profile{
		position: static;
		margin: 0 auto;
		float: none;
		margin-top: 30px;
	}

	#blurb{
		float: none;
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	#one{
		float: none;
		margin: 0 auto;
		margin-top: 20px;
	}

	#two{
		margin: 0 auto;
		margin-top: 20px;
	}

	#three{
		float: none;
		margin-top: 20px;
	}
}
