*{
	font-family: 'Dosis', sans-serif;
	padding: 0;
	margin: 0;
}

#togglebox{
	
	position: fixed;
	bottom: 2vh;
	left: 2vw;
	z-index: 999;
}

a {outline : none;}

a img {outline:none;}

img {border: 0;}

a span{
	font-size: 10px;
	color: #2043C4;
}

h1{
	text-align: center;
	font-size: 50px;
}

p{
	text-align: center;
	font-size: 18px;
	color: #2043C4;
}

img{
	display: block;

	margin: 0 auto;
	min-height: 50%;
	max-height: 100%;
	min-width: 50%;
	max-width: 100%;
	margin-top: 5vh;
}

hr{
	width: 60%;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	border-color: black;

}

.social{
	display: block;
	font-size: 40px;
	margin-top: 30px;
	margin-left: 50px;
}
