*{
	font-family: Dosis;
	padding: 0;
	margin: 0;
}

body{
	overflow: hidden;
	position: absolute;
	width: 100vw;
	height: 100vh;
}

@font-face{
	font-family: Dosis;
	src: url(../fonts/Dosis/Dosis-Regular.ttf);
}

#sidebar{
	position: absolute;
	display: inline-block;
	height: 500px;
	width: 150px;
	background-color: white;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;

}

#title{
	text-align: center;
	position: relative;
}

#central{

	margin: 0 auto;
	width: 70%;
	text-align: center;


}

#smallnav{
	width: 100%;
	height: 7vh;
	background-color: #EEE;
}

#navbutton{
	float: right;
	margin-top: 0;
	margin-right: -15px;

	width: 7vw;
	height: 7vh;

	border-style: solid;
	border-color: red;
}

#navimage{
	width: 100%;
	height: 100%;
}


#splash, img{
	max-width: 40vw;
	margin-top: 20px;
}

h1{
	font-size: 70px;
}

a:link{
	text-decoration: none;
	outline: 0;
}

a:hover{
	color: #2043C4;
	font-style: italic;
}

a{
	display: block;
	font-size: 24px;
	color: black;
	margin-top: 20px;
	margin-left: 10px;
}

hr{
	border: 0;
	display: block;       
	background-color: black;
	height: 1px;
	margin-top: 40px;
	margin-left: 10%;
	margin-right: 10%;
}

p{
	color: #2043C4;
	font-size: 20px;
	margin-top: 20px;
}

.highlight{
	color: #2043C4
}

.social span{
	margin-left: 15px;
	margin-top: 20px;
}

