*{
	margin: 0;
	padding: 0;
	font-family: Dosis;
}

body{
	width: 100%;
	height: 100vh;
}

@font-face{
	font-family: Dosis;
	src: url(../fonts/Dosis/Dosis-Regular.ttf);
}

#background{
	background-image: url();
	background-size: 150%;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: -2;
	top: 0;
	left: 0;
	opacity: 0.5;
}

#smallnav{
	position: fixed;
	display: block;
	height: 10vh;
	width: 100%;
	min-height: 50px;
	max-height: 60px;
	float: left;

	background-color: #eee;

}

#smallnav_button{
	position: fixed;
	display: block;
	min-height: 50px;
	min-width: 50px;
	height: 10vh;
	width:	10vh; 
	max-height: 60px;
	max-width: 60px;
	right: 0;
	z-index: 9999;
}

#smallnav_social{
	position: fixed;
	display: block;
	min-height: 50px;
	min-width: 200px;
	height: 10vh;
	width:	10vh; 
	max-height: 60px;
	max-width: 120px;
	left: 0;
	z-index: 9999;
}

.small_social{
	position: relative;
	display: inline-block;
	float: left;
	margin: 0;
	right: 0;
	margin-top: 0.8vh;
	margin-left: 10px;
	font-size: 30px;
	color: #aaa;
	transform: translateX(-15px);
}



#dropdown_image{
	position: absolute;
	min-height: 50px;
	min-width: 50px;
	height: 100%;
	width:	100%; 
	max-height: 70px;
	max-width: 70px;
	background-image: url("../images/bars.png");
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	right: 0;
	opacity: 0.15;
}

#dropdown{
	position: absolute;
	display: block;
	min-height: 50px;
	min-width: 50px;
	height: 10vh;
	width:	10vh; 
	max-height: 60px;
	max-width: 60px;
	right: 0;
	top: 0;
	opacity: 1;
}

#title{
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 500px;
	text-align: center;
	padding-top: 80px;

	font-size: 65px;
	line-height: 55px;
}

.purple{
	color: #2043C4;
}

div h1{
	font-size: 70px;
}

#bignav{
	position: fixed;
	float: left;
	height: 450px;
	width: 150px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;

}

.social span{
	margin-left: 15px;
	margin-top: 20px;
}

a:link{
	text-decoration: none;
	outline: 0;
}

a:hover{
	color: #2043C4;
	font-style: italic;
	text-decoration: none;
}

a{
	display: block;
	font-size: 24px;
	color: black;
	margin-top: 20px;
	margin-left: 10px;
}

hr{
	border: 0;
	display: block;       
	background-color: black;
	height: 1px;
	margin-top: 40px;
	margin-left: 10%;
	margin-right: 10%;
}

#central_wrapper{
	margin: 0 auto;
	width: 100vw;
	height: 70vh;
	max-width: 700px;
	z-index: 999;
	text-align: center;
	padding: 0;
	margin-top: -20px;

}

#central{
	height: 80%;
	margin-top: 1vh;

}

#splash{
	height: 100%;
	margin-bottom: 10%;
	width: auto;
}

#splash img{
	
	height: 100%;
	width: auto;
	max-height: 70vh;
	max-width: 100%;
}

#bigtext_top{
}

#bigtext_bottom{

}

.bigtext{
	display: inline-block;
	font-size: 20px;
	color: #2043C4;
	white-space: nowrap;
	width: 100%;
	height: 10%;
	margin: 0;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.text{

}

.social{

}

@media only screen and (max-width: 397px){
	
	#central_wrapper{
		margin-top: 0;
	}

	.bigtext{
		margin: 0;
	}
}

@media only screen and (min-width: 992px){

	#title{
		padding-top: 50px;
	}
}

@media only screen and (max-width: 991px){

	#title{
		
	}
}


